<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../src/assets/style.css">
</head>
<style>
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 20%;
    }
</style>
<body>
    <form action="">
        <input type="text" value="{{.Nome}}">
        <input type="text" value="{{.Sobrenome}}">
        <input type="text" value="{{.Idade}}">
        <input type="text" value="{{.Email}}">
        <input type="submit">
    </form>
    <h1>{{.Titulo}}</h1>
    <p>{{.Nome}}</p>
    <p>{{.Sobrenome}}</p>
    <p>{{.Idade}}</p>
    <p>{{.Email}}</p>
</body>
</html>